<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="/css/lining-compiled.css" rel="stylesheet" type="text/css" />
<link href="/css/base.css" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="/js/access-data.js"></script>

<title>Music From the Future</title>
<link rel="shortcut icon" href="/img/ui/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

</head>
<body>


<div class="content-block record">
	<div class="group">
		<div class="item skip-5 span-14">
			<ul id="records"></ul>
			<a href="#"><img class="record-art" width="100%" src="#" /></a>
		</div>
	</div>
</div>


</body>
</html>








