---
  layout: default
  title: WAY TOO SICK RCRDS -- Music From the Future
  permalink: /
---


<!--LOGO-->
<div class="content-block">
	<div class="group">
		<div class="item skip-20 span-4">
			<a href="#beta" style="background-color:#fff;" class="btn-beta">Beta</a>
		</div>
	</div>
</div>


<div class="content-block">
	<div class="group">
		<div class="item skip-5 span-14">
			<img class="logo" width="100%" src="/img/ui/WAY-TOO-SICK-RCRDS.gif" />
		</div>
	</div>
</div>


<div class="content-block">
	<div class="group">
		<div class="item skip-5 span-6">
			<a href="http://www.facebook.com/pages/WAY-TOO-SICK/260820987310322" class="btn-primary" target="_blank">Facebook</a>
		</div>
		<div class="item skip-2 span-6">
			<a href="http://www.twitter.com/countdrakeyula" class="btn-primary" target="_blank">Twitter</a>
		</div>
	</div>
</div>

<a href="http://www.facebook.com/pages/WAY-TOO-SICK/260820987310322" target="_blank">
<div class="content-block intro" style="background-image:url(/img/ui/intro.jpg);">
	<div class="group">
		<div class="item span-24">&nbsp;</div>
	</div>
</div>
</a>



{% for post in site.categories['featured'] %} 

<!--BLING-->
<div class="content-block record">
	<div class="group">
		<div class="item skip-5 span-14">
			{% if post.postimg %}
			{% if post.chill_link %}<a href="{{ post.chill_link }}">{% endif %}<img class="record-art" width="100%" src="/img/records/{{ post.postimg }}" />{% if post.chill_link %}</a>{% endif %}
			{% endif %}
		</div>
	</div>
</div>

{% endfor %} 

<a href="http://www.twitter.com/countdrakeyula" target="_blank">
<div class="content-block twitter" style="background-image:url(/img/ui/twitter.jpg);">
	<div class="group">
		<div class="item span-24">&nbsp;</div>
	</div>
</div>
</a>

{% for post in site.categories['normal'] %} 

<div class="content-block record">
	<div class="group">
		<div class="item skip-5 span-14">
			{% if post.postimg %}
			{% if post.chill_link %}<a href="{{ post.chill_link }}">{% endif %}<img class="record-art" width="100%" src="/img/records/{{ post.postimg }}" />{% if post.chill_link %}</a>{% endif %}
			{% endif %}
		</div>
	</div>
</div>

{% endfor %} 

<a href="http://www.zazzle.com/waytoosick" target="_blank">
<div class="content-block merch" style="background-image:url(/img/ui/merch.jpg);">
	<div class="group">
		<div class="item span-24">&nbsp;</div>
	</div>
</div>
</div>
